<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #sidenav mode="side" [opened]="(sidebarService.sidebarOpen$ | async)" class="sidebar">
    <mat-nav-list>
      <a mat-list-item (click)="navigateTo('/student-home')">
        <mat-icon>home</mat-icon>
        <span class="sidebar-label">Home</span>
      </a>
      <a mat-list-item (click)="navigateTo('/student-academic')">
        <mat-icon>trending_up</mat-icon>
        <span class="sidebar-label">Academic Results</span>
      </a>
      <a mat-list-item (click)="navigateTo('/student-myclass')">
        <mat-icon>class</mat-icon>
        <span class="sidebar-label">My Class</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>