<header-component></header-component>
<div class="container">
    <div class="side-nav">
        <admin-sidenav-component></admin-sidenav-component>
    </div>
    <div class="content-wrapper">
        <div class="card-wrapper">
            <mat-card class="card-spacing">
                <mat-card-header>
                    <div mat-card-avatar class="bookmark-icon">
                        <mat-icon class="student-icon">account_circle</mat-icon>
                    </div>
                    <mat-card-title>Students</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Total Number of Students: {{ totalStudents }}</p>
                </mat-card-content>
                <div class="divider"></div>
                <mat-card-actions>
                    <mat-list>
                        <mat-list-item>
                            <span class="clickable-text" (click)="addStudent()">
                                <mat-icon>add</mat-icon>
                                Add Students Accounts
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <span class="clickable-text" (click)="navigateTo('/admin-student')">
                                <mat-icon>visibility</mat-icon>
                                View Students Records
                            </span>
                        </mat-list-item>
                    </mat-list>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card-spacing">
                <mat-card-header>
                    <div mat-card-avatar class="bookmark-icon">
                        <mat-icon class="teacher-icon">school</mat-icon>
                    </div>
                    <mat-card-title>Teachers</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Total Number of Teachers: {{ totalTeachers }}</p>
                </mat-card-content>
                <div class="divider"></div>
                <mat-card-actions>
                    <mat-list>
                        <mat-list-item>
                            <span class="clickable-text" (click)="addTeacher()">
                                <mat-icon>add</mat-icon>
                                Add Teachers Account
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <span class="clickable-text" (click)="navigateTo('/admin-teacher')">
                                <mat-icon>visibility</mat-icon>
                                View Teachers Records
                            </span>
                        </mat-list-item>
                    </mat-list>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>