<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #sidenav mode="side" [opened]="(sidebarService.sidebarOpen$ | async)" class="sidebar">
    <mat-nav-list>
      <a mat-list-item (click)="navigateTo('/teacher-home')">
        <mat-icon>home</mat-icon>
        <span class="sidebar-label">Home</span>
      </a>
      <a mat-list-item (click)="navigateTo('/teacher-records')">
        <mat-icon>list</mat-icon>
        <span class="sidebar-label">Students Records</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>