.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.side-nav {
  width: 200px;
}


.content-wrapper {
  flex-grow: 1;
  display: flex;
}

.table-container {
  position: relative;
  top: 20px;
  left: 100px;
}


.add-student-button {
    position: relative;
    margin: 20px;
  }
  .clickable-text {
    text-decoration: underline;
  }
  .red-text {
    color: red;
  }