.sidebar-button {
  color:white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  font-size: 20px;
}
.spacer {
  flex: 1;
}
.user-icon {
  background-color: transparent;
  color:white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}