<mat-toolbar [color]="getUserRole() === 'teacher' ? 'accent' : (getUserRole() === 'Admin' ? 'warn' : 'primary')">
  <button mat-icon-button class="sidebar-button" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Moodle</span>
  <div class="spacer"></div>
  <span class="user-name">{{ getStoredUserName() }}</span>
  <button mat-icon-button class="user-icon" matTooltip="User Account" [matMenuTriggerFor]="userAccountMenu">
    <mat-icon>account_circle</mat-icon>
    </button>
  <mat-menu #userAccountMenu="matMenu" xPosition="after">
    <button *ngIf="userData?.UserRole !== 'Admin'" mat-menu-item (click)="openProfile()">Profile</button>
    <button mat-menu-item (click)="onLogout()">Logout</button>
  </mat-menu>
</mat-toolbar>