.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side-nav {
    width: 200px;
}

.mat-elevation-z8 {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.student-table {
    width: 100%;
    border-collapse: collapse;
}

.student-table th,
.student-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.student-table th {
    font-weight: bold;
}

.content-wrapper {
    flex-grow: 1;
    display: flex;
}

.table-container {
    position: relative;
    top: 20px;
    left: 100px;
}