<h2 mat-dialog-title class="dialog-title">Edit Student</h2>

<mat-dialog-content>
  <mat-grid-list cols="3" rowHeight="300px">
    <mat-grid-tile>
      <mat-radio-group [(ngModel)]="student.Grade" name="Grade" required>



        <p>Selected Student ID: {{ setStudentID(2) }}</p>

        <br>
        <br>
        <mat-label>Grade</mat-label>
        <br>
        <mat-radio-button value="A+">A+</mat-radio-button>
        <mat-radio-button value="A">A</mat-radio-button>
        <mat-radio-button value="A-">A-</mat-radio-button>
        <br>
        <mat-radio-button value="B+">B+</mat-radio-button>
        <mat-radio-button value="B">B</mat-radio-button>
        <mat-radio-button value="B-">B-</mat-radio-button>
        <br>
        <mat-radio-button value="C+">C+</mat-radio-button>
        <mat-radio-button value="C">C</mat-radio-button>
        <mat-radio-button value="C-">C-</mat-radio-button>
        <br>
        <br>
        <mat-radio-button value="F"><span style="color: red;">F</span></mat-radio-button>
        <br>
      </mat-radio-group>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="editStudent()" [mat-dialog-close]="student">Save</button>
</mat-dialog-actions>