<h2 mat-dialog-title class="dialog-title">Edit Student</h2>
<mat-dialog-content>
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile>


        <mat-radio-group [(ngModel)]="student.Grade" name="Grade" required>
            <mat-label>Grade</mat-label>
            <mat-radio-button value="A+">A+</mat-radio-button>
            <mat-radio-button value="A">A</mat-radio-button>
            <mat-radio-button value="A-">A-</mat-radio-button>
          
            <mat-radio-button value="B+">B+</mat-radio-button>
            <mat-radio-button value="B">B</mat-radio-button>
            <mat-radio-button value="B-">B-</mat-radio-button>
       
        </mat-radio-group>
    
</mat-grid-tile>







        
    </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" (click)="editStudent()" [mat-dialog-close]="student">Save</button>
</mat-dialog-actions>